.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 14px 2px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;

  &__item {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--color-silver);



    &:not(:last-child) {
      margin-right: 20px;
    }

    &:not(:first-child) {
      &::before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
      }
    }

    &::before {
      position: absolute;
      left: -16px;
      top: 40%;
      transform: rotate(45deg) translateY(-50%);
      border-top: 1.5px solid var(--color-silver);
      border-right: 1.5px solid var(--color-silver);
    }

    &_active {
      color: var(--color-smalt-blue);

      &::before {
        border-color: var(--color-smalt-blue);
      }
    }

  }
}
