.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 14px 2px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;

  @include tablet {
    flex-wrap: wrap;
  }

  @include mobile {
    padding: 8px 2px;
  }

  &__item {
    position: relative;
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: var(--color-silver);

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:not(:last-child) {
      &::after {
        content: '';
        display: block;
        width: 4.5px;
        height: 4.5px;
      }
    }

    &::after {
      position: absolute;
      right: -10px;
      top: 45%;
      transform: rotate(45deg) translateY(-50%);
      border-top: 1.5px solid var(--color-smalt-blue);
      border-right: 1.5px solid var(--color-smalt-blue);
    }

    &_active {
      color: var(--color-smalt-blue);
    }

  }
}
