.burger-menu {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  border: 1px solid var(--color-smalt-blue);
  background-color: var(--color-bg);
  pointer-events: none;

  @include mobile {
    width: 44px;
    height: 44px;
  }

  &__line {
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--color-smalt-blue);

    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      width: 22px;
      height: 2px;
      background-color: var(--color-smalt-blue);
      @include mobile {
        width: 18px;
      }
    }

    &::before {
      top: 16px;
      @include mobile {
        top: 13px;
      }
    }

    &::after {
      bottom: 16px;
      @include mobile {
        bottom: 12px;
      }
    }

    @include mobile {
      width: 18px;
    }
  }
}
