.consultation-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 866px;
  padding: 55px 55px 55px 59px;

  background-color: var(--color-bg);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15);

  @include desktop {
    justify-content: space-around;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 45px;
    text-align: center;
  }

  @include tablet {
    gap: 17px;
  }

  @include mobile {
    padding: 25px 0;
    border-top: 1px solid #e5e5e5;
    box-shadow: none;
  }

  &__title {
    width: 100%;
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    @include tablet {
      margin-bottom: 2px;
    }
    @include mobile {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__subtitle {
    width: 100%;
    margin-top: 0;
    margin-bottom: 26px;

    @include tablet {
      margin-bottom: 10px;
    }
  }

  &__input {
    max-width: 238px;
    width: 100%;
    display: inline-block;
    padding: 17px;
    border: 1px solid #e5E5e5;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    @include desktop {
      max-width: 354px;
    }

    &::placeholder {
      color: var(--color-silver);
    }
  }

  &__btn {
    max-width: 240px;
    width: 100%;
    padding: 17px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-bg);
    background-color: #215359;
    border-radius: 4px;


    &-desk {
      display: inline;

      @include tablet {
        display: none;
      }
    }

    &-mobile {
      display: none;

      @include tablet {
        display: inline;
      }
    }

    @include desktop {
      margin: 0 20px;
    }
  }
}
