.header {
  position: relative;
  padding-top: 25px;

  &__container {
    max-width: 1795px;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 43px;
  }

  &__burger-menu {
    margin-right: 30px;

    @include headerWidth {
      margin-left: 20px;
      margin-right: 0;
      order: 2;
      z-index: 4;
      pointer-events: auto;
    }
  }

  &__nav {
    margin-right: auto;
  }

  &__contacts {
    margin-right: 60px;
  }

  &__user-actions {
    order: 1;
  }
}
