.header {
  position: relative;
  padding-top: 25px;

  &::after {
    display: block;
    background-color: #e5e5e5;
    height: 1px;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -15px;

    @include mobile {
      content: '';
    }
  }

  @include mobile {
    padding-top: 16px;
  }

  &__container {
    max-width: 1795px;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 43px;
  }

  &__burger-menu {
    margin-right: 30px;

    @include headerWidth {
      margin-left: 20px;
      margin-right: 0;
      order: 2;
      z-index: 4;
      pointer-events: auto;
    }
  }

  &__nav {
    margin-right: auto;
  }

  &__contacts {
    margin-right: 60px;
  }

  &__user-actions {
    order: 1;
  }

  &__themes {
    position: absolute;
    right: 20px;
    top: 10px;
  }
}
