.info {
  max-width: 1920px;
  margin: 0 auto;
  padding-bottom: 47px;
  background-repeat: no-repeat;
  background-position: center right 189px;
  background-image: url('../img/blob.svg');

  @include tablet {
    padding-bottom: 44px;
  }

  @include desktop {
    background-image: none;
  }

  &__content {
    padding-top: 20px;
    max-width: 572px;

    @include tablet {
      max-width: 100%;
    }

    @include mobile {
      padding-top: 15px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 800;
    font-size: 50px;
    line-height: 69px;
    text-transform: uppercase;
    color: var(--color-red);

    @include desktop {
      margin-bottom: 24px;
      font-size: 40px;
      line-height: 50px;
    }
    @include mobile {
      margin-bottom: 17px;
      font-size: 30px;
      line-height: 37px;
    }
  }

  &__list {
    padding-left: 30px;

    @include mobile {
      padding-left: 15px;
    }
  }

  &__item {
    position: relative;
    padding-left: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    @include mobile {
      font-size: 14px;
    }
    
    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(50%);
      display: inline-block;
      width: 9px;
      height: 9px;
      border-radius: 100%;
      background-color: var(--color-tango);

    }
  }
}
