.video-section {
  padding-bottom: 0;

  &__section-title {
    margin-bottom: 65px;
  }

  &__descr {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 30px;
  }

  &__video-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 34px;
    padding-bottom: 63px;
    background-repeat: no-repeat;
    background-position: center top 32px;
    background-image: url('../img/blob-video.svg');
  }

  &__iframe {
    padding-top: 50px;
    width: 771px;
    height: 488px;
  }
}
