<footer class="footer">
  <div class="container footer__container">
    <nav class="footer-nav">
      <h2 class="footer__title">КАТАЛОГ</h2>
      <ul class="footer-nav__list list-reset">
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Дымоходы</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Камины</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Дымососы</a>
        </li>

        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Силикат кальция</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Печи для дома</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Котлы</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Печи для бани</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Ещё</a>
        </li>
      </ul>
    </nav>
    <nav class="footer-nav">
      <h2 class="footer__title">ИНФОРМАЦИЯ</h2>
      <ul class="footer-nav__list list-reset">
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Каталог</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Полезное</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Установка и монтаж</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Контакты</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Отзывы</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Оплата и доставка</a>
        </li>
        <li class="footer-nav__item">
          <a href="" class="footer-nav__link">Ликвидация товара</a>
        </li>

      </ul>
    </nav>
    <div class="footer-info footer__footer-info">
      <h2 class="footer__title">ВРЕМЯ РАБОТЫ</h2>
      <div class="footer-info__workings-hours workings-hours">
        <span class="workings-hours__item">
          <span>пн-пт</span>  9:00 – 20:00
        </span>
        <span class="workings-hours__item">
          <span>сб-вс</span>  10:00 – 18:00
        </span>
      </div>
      <address class="footer-info__address">
        г. Санкт - Петербург ,ул. Тамбасова д.7
      </address>
      <div class="socials socials_big-gap">
        <ul class="socials__list list-reset">
          <li class="socials__item">
            <a href="#" class="socials__link">
              <svg>
                <use xlink:href="img/sprite.svg#vk" />
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" class="socials__link">
              <svg>
                <use xlink:href="img/sprite.svg#telegram" />
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" class="socials__link">
              <svg>
                <use xlink:href="img/sprite.svg#instagram" />
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a href="#" class="socials__link">
              <svg>
                <use xlink:href="img/sprite.svg#whatsapp" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
