<section class="hero">
  <div class="container">
    <h1 class="title hero__title">Монтаж дымоходов</h1>
    <ul class="breadcrumbs hero__breadcrumbs list-reset">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Каталог</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Камины</a>
      </li>
      <li class="breadcrumbs__item breadcrumbs__item_active">
        <a href="#" class="breadcrumbs__link">Монтаж дымоходов</a>
      </li>
    </ul>
    <p class="hero__content">
      В&nbsp;<a class="red-text" href="#">Дымоход.ру</a> вам помогут как приобрести, так и&nbsp;установить дымоход любой конфигурации. В&nbsp;нашем монтажном отделе, состоящим из&nbsp;трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и&nbsp;аккуратно, в&nbsp;короткий срок и&nbsp;на&nbsp;совесть.
    </p>
  </div>
</section>
