<section class="peculiarities">
  <div class="container">
    <h2 class="section-title peculiarities__section-title">Почему Дымоход.ру?</h2>
    <p class="peculiarities__descr">
      В&nbsp;отличие от&nbsp;других производителей, мы&nbsp;ручаемся за&nbsp;качество продукции, т.к. все Дымоходы изготавливаются из&nbsp;качественной стали, проверенного теплоизолятора, по&nbsp;современной технологии плазменной сварки &laquo;встык&raquo;
    </p>
    <ul class="peculiarities__list list-reset">
      <li class="peculiarities__item peculiarities-item">
        <span class="peculiarities-item__icon">
          <svg>
            <use xlink:href="img/sprite.svg#guarantee" />
          </svg>
        </span>
        <h3 class="peculiarities-item__title">Большой гарантийный срок</h3>
         <p class="peculiarities-item__descr">
          Крепёж, стыковка элементов – <span class="red-text"> 10 лет</span>
          Сквозная коррозия труб – <span class="red-text"> 5 лет</span>
          Гидроизоляция – <span class="red-text"> 3 года</span>
         </p>
      </li>
      <li class="peculiarities__item peculiarities-item">
        <span class="peculiarities-item__icon">
          <svg>
            <use xlink:href="img/sprite.svg#architect" />
          </svg>
        </span>
        <h3 class="peculiarities-item__title">Помощь в покупке агрегата </h3>
         <p class="peculiarities-item__descr">
            (печи, камина, котла), а&nbsp;также качественной
              установке на&nbsp;объекте с&nbsp;последующим
              гарантийным сервисом
         </p>
      </li>
      <li class="peculiarities__item peculiarities-item">
        <span class="peculiarities-item__icon">
          <svg>
            <use xlink:href="img/sprite.svg#review" />
          </svg>
        </span>
        <h3 class="peculiarities-item__title">Реальные отзывы клиентов</h3>
        <p class="peculiarities-item__descr">
          Убедитесь в добросовестности исполнения, прочитав Отзывы клиентов в специальном разделе.
        </p>
      </li>
    </ul>

    <h2 class="peculiarities__title">необходима консультация</h2>
    <p class="peculiarities__subtitle">оставьте заявку или свяжитесь с нами в социальных сетях</p>
    <div class="socials socials_center socials_big-gap socials_orange peculiarities__socials">
      <ul class="socials__list list-reset">
        <li class="socials__item">
          <a href="#" class="socials__link">
            <svg>
              <use xlink:href="img/sprite.svg#vk" />
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="#" class="socials__link">
            <svg>
              <use xlink:href="img/sprite.svg#telegram" />
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="#" class="socials__link">
            <svg>
              <use xlink:href="img/sprite.svg#instagram" />
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a href="#" class="socials__link">
            <svg>
              <use xlink:href="img/sprite.svg#whatsapp" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <form action="#" class="consultation-form">
      <h3 class="consultation-form__title">
        Для <span class="orange-text">консультации</span> заполните форму!
      </h3>
      <p class="consultation-form__subtitle">С Вами свяжутся в ближайшее время</p>
      <input class="consultation-form__input" type="text" placeholder="Ваше имя" name="name">
      <input class="consultation-form__input" type="tel" placeholder="Ваш телефон" name="phone">
      <button class="consultation-form__btn" type="submit">
        <span class="consultation-form__btn-desk">отправить</span>
        <span class="consultation-form__btn-mobile">оставить заявку</span>
      </button>
    </form>
  </div>
</section>
