<section class="work-steps">
  <div class="container">
    <h2 class="section-title work-steps__title">Процесс выполнения монтажа</h2>
    <ol class="work-steps__list list-reset">
      <li class="work-steps__item">Рассчёт предварительной заявки</li>
      <li class="work-steps__item">Замер объекта нашим инженером</li>
      <li class="work-steps__item">Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы </li>
      <li class="work-steps__item">Изготовление Дымохода, покраска (если требуется)</li>
      <li class="work-steps__item">Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация</li>
      <li class="work-steps__item">Гарантийное обслуживание по соответствующем сроку</li>
    </ol>
  </div>
</section>
