:root {
  --color-smalt-blue: #4c858b;
  --color-bg: #fff;
  --color-black: #000;
  --color-mexican-red: #ae2236;
  --color-red: #e33e54;
  --color-tango: #ea6628;
  --color-silver: #b1b1b1;

  --color-footer-bg: #0c2f33;

  --footer-height: 74px;
}

@mixin mobile {
  @media (max-width: 568px) {
    @content
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content
  }
}

@mixin headerWidth {
  @media (max-width: 1700px) {
    @content
  }
}

@mixin desktop {
  @media (max-width: 1210px) {
    @content
  }
}

@mixin font($name, $weight) {
  @font-face {
    font: {
      family: $name;
      weight: $weight;
      display: swap;
    }
    src: url("../fonts/#{ $name }-#{ $weight }.woff2") format("woff2"),
        url("../fonts/#{ $name }-#{ $weight }.woff") format("woff");
  }
}
